# Pick the best team using Linear Programming

In [1]:
! git clone https://github.com/vaastav/Fantasy-Premier-League.git

Cloning into 'Fantasy-Premier-League'...
remote: Enumerating objects: 154063, done.
remote: Counting objects: 100% (32995/32995), done.
remote: Compressing objects: 100% (14451/14451), done.
remote: Total 154063 (delta 15622), reused 32169 (delta 14969), pack-reused 121068
Receiving objects: 100% (154063/154063), 55.84 MiB | 19.95 MiB/s, done.
Resolving deltas: 100% (72658/72658), done.
Checking out files: 100% (8296/8296), done.

In [2]:
! pip install pulp

Collecting pulp
  Downloading PuLP-2.5.0-py3-none-any.whl (41.2 MB)
     |████████████████████████████████| 41.2 MB 72.6 MB/s
Installing collected packages: pulp
Successfully installed pulp-2.5.0

In [3]:
import pandas as pd
from pulp import *

In [4]:
PATH = 'Fantasy-Premier-League/data/'

current_df = pd.read_csv(PATH + '2021-22/gws/merged_gw.csv')
current_df.tail()

                 name position         team  ...  was_home  yellow_cards  GW
2897    Wilfred Ndidi      MID    Leicester  ...     False             1   5
2898     Matt Ritchie      DEF    Newcastle  ...      True             1   5
2899   Nathan Redmond      MID  Southampton  ...     False             0   5
2900      Mathew Ryan       GK     Brighton  ...      True             0   5
2901  Ryan Fredericks      DEF     West Ham  ...      True             0   5

[5 rows x 36 columns]

In [5]:
gw_5 = current_df[current_df.GW == 5]
gw_5.head()

                               name position  ... yellow_cards  GW
2296                    Eric Bailly      DEF  ...            0   5
2297                   Keinan Davis      FWD  ...            0   5
2298         Ayotomiwa Dele-Bashiru      MID  ...            0   5
2299              James Ward-Prowse      MID  ...            0   5
2300  Bruno Miguel Borges Fernandes      MID  ...            0   5

[5 rows x 36 columns]

In [6]:
data = gw_5[['name', 'team', 'position', 'total_points', 'value']]
data.head()

                               name         team position  total_points  value
2296                    Eric Bailly      Man Utd      DEF             0     50
2297                   Keinan Davis  Aston Villa      FWD             0     45
2298         Ayotomiwa Dele-Bashiru      Watford      MID             0     45
2299              James Ward-Prowse  Southampton      MID             3     64
2300  Bruno Miguel Borges Fernandes      Man Utd      MID             2    120

In [7]:
# Helper variables
POS = data.position.unique()
CLUBS = data.team.unique()
BUDGET = 1000
pos_available = {
    'DEF': 5,
    'FWD': 3,
    'MID': 5,
    'GK': 2,
}

# Initialize Variables
names = [data.name[i] for i in data.index]
teams = [data.team[i] for i in data.index]
positions = [data.position[i] for i in data.index]
prices = [data.value[i] for i in data.index]
points = [data.total_points[i] for i in data.index]
players = [LpVariable("player_" + str(i), cat="Binary") for i in data.index]

In [8]:
# Initialize the problem
prob = LpProblem("FPL Player Choices", LpMaximize)

/usr/local/lib/python3.7/dist-packages/pulp/pulp.py:1316: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [9]:
# Define the objective
prob += lpSum(players[i] * points[i] for i in range(len(data))) # Objective

In [10]:
# Build the constraints
prob += lpSum(players[i] * data.value[data.index[i]] for i in range(len(data))) <= BUDGET # Budget Limit

for pos in POS:
  prob += lpSum(players[i] for i in range(len(data)) if positions[i] == pos) <= pos_available[pos] # Position Limit

for club in CLUBS:
  prob += lpSum(players[i] for i in range(len(data)) if teams[i] == club) <= 3 # Club Limit

In [11]:
# Solve the problem
prob.solve()

1

In [12]:
for v in prob.variables():
  if v.varValue != 0:
    name = data.name[int(v.name.split("_")[1])]
    club = data.team[int(v.name.split("_")[1])]
    position = data.position[int(v.name.split("_")[1])]
    point = data.total_points[int(v.name.split("_")[1])]
    price = data.value[int(v.name.split("_")[1])]
    print(name, position, club, point, price, sep=" | ")

Joshua King | FWD | Watford | 10 | 55
Aaron Ramsdale | GK | Arsenal | 9 | 45
Mohamed Salah | MID | Liverpool | 12 | 125
Virgil van Dijk | DEF | Liverpool | 12 | 65
Saïd Benrahma | MID | West Ham | 10 | 64
Antonio Rüdiger | DEF | Chelsea | 14 | 55
Ismaila Sarr | MID | Watford | 15 | 60
Marcos Alonso | DEF | Chelsea | 10 | 57
Matthew Cash | DEF | Aston Villa | 15 | 50
Ivan Toney | FWD | Brentford | 12 | 63
David de Gea | GK | Man Utd | 10 | 50
Danny Welbeck | FWD | Brighton | 9 | 60
Martin Ødegaard | MID | Arsenal | 11 | 55
Leon Bailey | MID | Aston Villa | 9 | 64
Thiago Emiliano da Silva | DEF | Chelsea | 15 | 54

In [13]:
score = str(prob.objective)
constraint = [str(const) for const in prob.constraints.values()][0]
for v in prob.variables():
  score = score.replace(v.name, str(v.varValue))
  constraint = constraint.replace(v.name, str(v.varValue))

score_pretty = " + ".join( re.findall('[0-9\.]*\*1.0', score) )
constraint_pretty = " + ".join( re.findall('[0-9\.]*\*1.0', constraint) )

print("Constraint: ")
print(constraint_pretty + " = " + str(eval(constraint_pretty)))
print()
print("Score: ")
print(score_pretty + " = " + str(eval(score_pretty)))

Constraint:
55*1.0 + 45*1.0 + 125*1.0 + 65*1.0 + 64*1.0 + 55*1.0 + 60*1.0 + 57*1.0 + 50*1.0 + 63*1.0 + 50*1.0 + 60*1.0 + 55*1.0 + 64*1.0 + 54*1.0 = 922.0

Score:
10*1.0 + 9*1.0 + 12*1.0 + 12*1.0 + 10*1.0 + 14*1.0 + 15*1.0 + 10*1.0 + 15*1.0 + 12*1.0 + 10*1.0 + 9*1.0 + 11*1.0 + 9*1.0 + 15*1.0 = 173.0